@mixin font-face($font-name, $font-path) {

}
// https://www.sessions.edu/color-calculator/
$primary-color: #d4012f;
$secondary-color: rgba(212, 1, 47, 0.58);
$text-story-color: #fff;
$box-color: #d4012f;
$close-box-color: #fff;

$font-primary-path: './assets/common/CloudsOfDespairLsf-3RKG.ttf';
$font-secondary-path: './assets/common/blzee.ttf';


